@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');


#root {
    position: relative;
    min-height: 100vh;
}

.loader {
    border: 5px
}